div ul {
    list-style: none;

}

div ul li{
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 20px;
    
}

.container{
    display: flex;
    justify-content: center;
}

a{
    color: #bc544b
}