<app-search></app-search>
<ul>
    <li *ngFor="let cloth of clothes">
        <a>
            <img src="{{cloth.imageUrl}}">
            <div class="content">
                <div class="category">
                    {{cloth.category}}
                </div>
                    <span class="favorite {{cloth.favorite?'':'not'}}">
                        &hearts;           
                    </span>
                <div>
                    <ngb-rating [max]="5" [rate]="cloth.stars" [readonly]="false"></ngb-rating>
                </div>
                <div>
                    <span> Ksh {{cloth.price}}</span>
                </div>
                
            </div>
        </a>
    </li>
</ul>
